<li>
<div class="panel panel-default panel-default">
  	<div class="panel-body">
  		<div class="row">
  			<div class="col-md-4">
				<h4>{{heading}}</h4>
  					<p>{{review.content}}</p>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<button class="btn btn-danger" {{action 'delete' review}}>
				<i class="fa fa-trash-o" aria-hidden="true"></i> Delete Review
				</button>
			</div>
		</div>
	</div>
</div>
</li>
