<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><span class="brand-text">Super Rentals
	      </span></a>
	    </div>
	    <div id="navbar" class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
	        <li>{{#link-to 'about'}}About{{/link-to}}</li>
	        <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</nav>
	
	<br>
	{{outlet}}
</div>
<div class=footer">
</div>
